# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
# emacs garbage
*~
# python
*.pyc
# executable
graph_similarity
# folders
figs
output_data
# random
.depend
err